<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>LOL-SearchBox</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="/css/layui.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="body-tips layui-bg-green layui-font-16">
    Tips: 当前端游版本为 {[{ .lol_version }]}，手游版本为 {[{ .lolm_version }]}
</div>

<form class="layui-form" id="search-box">
    <div class="layui-fluid layui-form">
        <div class="layui-input-wrap">
            <input name="key_words" type="text" placeholder="搜索…" class="layui-input">
            <button class="layui-btn search-button" type="submit">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </div>

        <div class="blank"></div>

        <div class="layui-form">
            <input type="radio" id="platform-lol" lay-filter="platform" name="platform" value="0" title="英雄联盟端游"
                   checked>
            <input type="radio" id="platform-lolm" lay-filter="platform" name="platform" value="1" title="英雄联盟手游">
        </div>

        <div class="search-tools">
            <div id="search-tools-switch" class="layui-inline layui-font-13">
                更多条件 <i class="layui-icon layui-icon-right layui-font-13"></i>
            </div>

            <div id="search-tools-cond">
                <div class="layui-form">
                    <input type="radio" lay-filter="category" name="category" value="lol_equipment" title="装备"
                           checked>
                    <input type="radio" lay-filter="category" name="category" value="lol_heroes" title="英雄">
                    <input type="radio" lay-filter="category" name="category" value="lol_rune" title="符文">
                    <input type="radio" lay-filter="category" name="category" value="lol_skill" title="召唤师技能">
                </div>

                <div class="layui-form">
                    <input type="checkbox" name="way" value="name,keywords" title="按名字" checked>
                    <input type="checkbox" name="way" value="description,plaintext" title="按介绍" checked>
                </div>

                <div class="layui-form search-map">
                    <input type="checkbox" name="map" value="召唤师峡谷" title="召唤师峡谷" checked class="maps-cond"
                           lay-filter="maps">
                    <input type="checkbox" name="map" value="嚎哭深渊" title="嚎哭深渊" class="maps-cond-ext"
                           lay-filter="maps">
                    <input type="checkbox" name="map" value="斗魂竞技场" title="斗魂竞技场" class="maps-cond-ext"
                           lay-filter="maps">
                </div>
            </div>
        </div>

        <div id="view"></div>

    </div>

    <!--    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-login">登录</button>-->
</form>

<script src="/js/layui.js"></script>
<script id="TPL" type="text/html">
    <div class="search-result-tips layui-border-box layui-font-13">{{= d.tips }}</div>
    <div class="layui-timeline">
        {{# layui.each(d.lists, function(index, item){ }}
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"> <i class="layui-icon layui-icon-tips"></i> </i>
            <div class="layui-timeline-content layui-text">
                <h4 class="layui-timeline-title layui-inline">
                    <div class="layui-inline img-wrap">
                        <img src="{{= item.iconPath }}" alt="">
                    </div>
                    {{= item.name }}
                </h4>
                <div>
                    {{# layui.each(item.tags, function(idx, tag){ }}
                    <span class="layui-badge layui-bg-gray">{{= tag }}</span>
                    {{# }); }}

                </div>
                <div class="layui-font-13 mainText">
                    {{- item.description }}
                </div>
            </div>
        </div>
        {{# }); }}
    </div>
</script>
<script>
    layui.use(function () {
        let $ = layui.$;
        let form = layui.form;

        // 任意位置按钮触发提交
        $('#search-box').on('submit', function (event) {
            event.preventDefault();

            let key_words = $('input[name="key_words"]').val()
            if (!key_words) {
                layer.msg('请输入搜索内容');
                return elem.focus()
            }

            let way = [];
            $('input[name="way"]:checked').each(function () {
                way.push($(this).val().split(",")[0]);
                way.push($(this).val().split(",")[1]);
            });
            let maps = [];
            $('input[name="map"]:checked').each(function () {
                if ($(this).prop("disabled") === true) {
                    return
                }
                maps.push($(this).val());
            });
            let req = {
                "key_words": key_words,
                "platform": $('input[name="platform"]:checked').val(),
                "category": $('input[name="category"]:checked').val(),
                "way": way,
                "map": maps,
            };

            // 请求数据
            render(req)
        });

        form.on('radio(platform)', function (data) {
            let elem = data.elem; // 输入框
            let platform = elem.value; // 输入框的值
            if (platform == 1) {
                $(".maps-cond-ext").prop("disabled", true)//禁用
                $(".maps-cond-ext").next(".layui-form-checkbox").addClass(".layui-checkbox-disbaled layui-disabled");
            } else {
                $(".maps-cond-ext").prop("disabled", false)
                $(".maps-cond-ext").next(".layui-form-checkbox").removeClass("layui-checkbox-disbaled layui-disabled");
            }
            form.render();
        });

        function render(req) {
            $.ajax({
                url: "/query",
                method: "POST",
                data: JSON.stringify(req),
                contentType: "application/json; charset=utf-8",
                dataType: "json",//返回值类型
                success: function (res) {
                    if (res.err_no !== 0) {
                        layer.msg(res.err_msg);
                    } else {
                        let laytpl = layui.laytpl;
                        // 渲染
                        let getTpl = document.getElementById('TPL').innerHTML; // 获取模板字符
                        let elemView = document.getElementById('view'); // 视图对象
                        // 渲染并输出结果
                        laytpl(getTpl).render(res.data, function (str) {
                            elemView.innerHTML = str;
                        });

                    }
                },
                error: function () {
                    layer.msg("error");
                }
            })
        }
    });


</script>
</body>
</html>