body .body-tips {
    padding: 3px 8px;
    margin-bottom: 20px;
}

.blank {
    height: 5px;
}

.blank-10 {
    height: 10px;
}

.blank-15 {
    height: 15px;
}

.blank-20 {
    height: 20px;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.layui-icon-clear {
    position: absolute;
    top: 0;
    right: 70px;
    border: none;
    background:none !important;
    cursor: pointer;
}

.search-tools {
    height: auto;
    padding: 10px 0;
    margin-bottom: 15px;

}

.maps-cond-ext {
    text-decoration: line-through;
}

.search-result-tips {
    color: #7d7d7d;
    margin-bottom: 8px;
}

#search-tools-switch {
    margin-bottom: 5px;
    color: #7d7d7d;
    cursor: pointer;
}

/*.search-map div{*/
/*    text-decoration: line-through !important;*/
/*    !*text-decoration: underline !important;*!*/
/*}*/
/*#search-tools-switch .layui-icon-right:before{*/
/*    transform: rotate(180deg) !important;*/
/*}*/

.layui-timeline-content em {
    font-style: inherit;
    color: #ff5722 !important;
}

.layui-timeline-title img, .layui-timeline-title .img-wrap {
    width: 35px;
    height: 35px;
}

.layui-timeline-title img:hover {
    position: absolute;
    z-index: 999;
    width: auto;
    height: auto;
}

.layui-timeline-item .mainText buffedStat {
    font-weight: bold;
}

.layui-timeline-item .mainText attention {
    font-weight: bold;
}

.layui-timeline-item .mainText passive {
    font-weight: bold;
}

.layui-timeline-item .mainText status {
    font-weight: bold;
}

.layui-timeline-item .mainText ul {
    padding: 0;
    margin: 0;
}

.layui-timeline-item .mainText li {
    list-style: none;
}

.layui-timeline-item .mainText li div {
    font-size: 10px;
    line-height: 14px;
    margin: 5px 0 15px 0;
}

.layui-timeline-item .mainText li h6 {
    display: inline-block;
}

.layui-timeline-item .mainText img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.layui-timeline-item .mainText span {
    color: #7d7d7d;
}

.layui-timeline-item .mainText div {
    color: #7d7d7d;
}

/*.layui-timeline-item .mainText img:hover {*/
/*    position: absolute;*/
/*    z-index: 999;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
