@import './base.scss';

.carousel-wrap {
  position: relative;
  width: 100%;
  height: 250px;

  .carousel-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    //background: rgba(0,0,0,.5);
    z-index: 1;
    box-shadow: inset 0 0 50px 35px rgba(0, 0, 0, 0.8);
  }

  .carousel-img {
    /* 设置图片的宽度和高度为100%，即填充容器 */
    width: 100%;
    height: 100%;
    /* 将图片裁剪为容器的大小 */
    object-fit: cover;
    /* 水平和垂直居中 */
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }

  .carousel-tip{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
  .carousel-name,.carousel-title {
    position: absolute;
    z-index: 2;
    display: block;
    font-style: normal;
  }

  .carousel-name{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    top: 40px;
    left: 31px;
  }
  .carousel-title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    top: 65px;
    left: 30px;
  }

  .carousel-desc {
    color: #d9d9d9;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 12px;
    z-index: 2;
    margin: 0;
    padding: 0 30px 25px 30px;
  }

}

.ant-skeleton {
  margin-top: 20px;
}

.ant-progress .ant-progress-inner {
  border-radius: 0;
  height: 2px;
}

.ant-progress .ant-progress-outer {
  height: 2px !important;
}

.ant-progress-line {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  line-height: 0;
}

.wrap {
  font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
  position: relative;
  margin: 0 auto;
  padding-bottom: 50px;

  .ant-form {
    width: 100%;

    .search-box-input {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      padding: 10px 15px;
      background: #fff;
      z-index: 2;

      input[name='search-input'] {
        &:-webkit-autofill {
          box-shadow: 0 0 0 1000px #fff inset !important;
        }
      }
    }

    .sub-cond {
      margin-top: 55px;
      padding: 0 15px;
      background: #fff;
    }

    .more-cond-switch {
      //search-box页面的收起更多按钮
      cursor: pointer;

      .more-cond-text {
        font-style: normal;
        font-size: 12px;
      }
    }

    .cond-drawer {
      font-size: 12px;
      padding: 0;
      margin: 0;
    }

    .equip-box-cond {
      padding: 0 15px;
      background: #fff;

      .platform-switch {
        //equip-box页面的收起表单按钮
        margin-bottom: 7px;
        position: relative;

        .platform-switch-btn {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

  }


  .ant-descriptions-header {
    margin-bottom: 0;
  }

  .ant-descriptions-header, .ant-descriptions-view {
    display: inline-block;
    line-height: inherit;
  }

  .ant-descriptions-header .ant-descriptions-title {
    display: inline-block;
    line-height: 1.5;
  }

  .ant-descriptions .ant-descriptions-view {
    width: 90%;
    line-height: inherit;
  }

  .ant-descriptions-item {
    padding: 0;
  }

  .ant-descriptions-title {
    font-size: 13px;
    margin-right: 5px;
    color: #3a3a3a;
  }

  .ant-form label {
    font-size: 12px;
  }

  .ant-checkbox + span {
    padding-left: 5px;
  }

  .ant-descriptions-row > td {
    padding: 0;
  }

  .ant-card .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 2px;
  }

  .ant-card .ant-card-meta-description {
    font-size: 12px;
    padding-left: 70px;
  }

  .ant-card-body .ant-tag.platform-tag {
    position: absolute;
    top: -1px;
    right: -1px;
    left: auto;
    margin: 0;
    border-radius: 0 4px 0 4px;
  }

  .ant-descriptions-item-content {
    .ant-tag-checkable {
      margin: 0 0 0 8px;
      background: rgba(0, 0, 0, .03);
      line-height: 1.5;

      &.ant-tag-checkable-checked {
        background: #1677ff;
      }
    }
  }

  .result-tips {
    margin: 0;
    padding: 2px 0 2px 15px;
    font-size: 12px;
  }

  .result-card {
    padding: 0 15px;

    .ant-tag {
      line-height: 15px;
      padding: 0 5px;
    }

    .ant-space {
      width: 100%;
      margin-bottom: 8px;
    }

    .ant-card-body {
      padding: 15px 15px 5px 15px;
      position: relative;

      .ant-avatar {
        //&:hover{
        //  position: absolute;
        //  width: 50px;
        //  height: 50px;
        //}
      }

      em {
        font-style: inherit;
        color: #ff5722;
      }


      .ant-tag-wrap {
        margin-top: -10px;
        padding-left: 42px;

        span {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .ant-card-meta-avatar {
      padding-right: 10px;
    }

    .ant-card-meta-title {
      color: #3a3a3a;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
    }

    .hero-icon {
      width: 35px;
      height: 35px;
      border-radius: 3px;
    }

    .hero-desc {
      padding: 5px 0;
      color: rgba(0, 0, 0, 0.85);

      li {
        h6 {
          margin-left: 29px;
        }
      }

      .spell-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;

        img {
          position: absolute;
          width: 25px;
          height: 25px;
          border-radius: 50%;

          //&:hover {
          //  position: absolute;
          //  width: 50px;
          //  height: 50px;
          //}
        }
      }

    }
  }


}

.ant-layout-content {
  background: #fff;
}

.blank {
  height: 5px;
  clear: both;
  background: #fff;
}

.ant-divider {
  margin: 10px 0;
}

.mainText {
  font-size: 13px;
  line-height: 1.8;

  em {
    font-style: inherit;
    color: #ff5722;
  }

  buffedStat, attention, passive, status {
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;

    h6 {
      display: inline-block;
      margin: 0 5px;
      color: #000000d9;
    }

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;

      &:hover {
        width: 50px;
        height: 50px;
      }
    }

    span {
      color: #7d7d7d;
    }

    .spell-desc {
      font-size: 10px;
      line-height: 14px;
      margin: 0 0 10px 0;
      color: #7d7d7d;
      cursor: pointer;
      padding-left: 29px;
    }
  }
}


.ant-tooltip .ant-tooltip-inner {
  font-size: 12px;
  min-height: 25px;
  padding: 3px 8px;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 6px 0;
}

.ant-popover {
  max-width: 280px;

  .roadmap-item {
    line-height: 35px;

    .roadmap-item-title {
      font-weight: 700;
      margin: 0 5px 0 0;
    }

    .ant-tag {
      line-height: 15px;
      padding: 0 5px;
      font-size: 12px;
    }

    .roadmap-item-price {
    }

    .roadmap-item-rune {
      long {
        display: none;
      }
    }
  }

  .rune-desc {
    short {
      display: none;
    }

    long {
      display: block;
      font-size: 12px;
      line-height: 12px;
      color: #ff5722;
    }
  }

  .rune-desc-long {
    margin-top: 5px;
    display: block;
    //font-size: 12px;
    //line-height: 12px;
  }

  .hero-suit {
    &.popover-title {
      margin: 0 0 5px 0;
    }

    &.popover-content {
      h4 {
        display: none;
      }

      h5 {
        margin: 5px 0 5px 0;
      }

      h6 {
        font-size: 12px;
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }

}

.ant-drawer-body {
  position: relative;

  .ant-collapse {
    margin-bottom: 20px;
  }

  .ant-collapse .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px 15px;
  }

  .foldall-btn {
    position: absolute;
    top: 20px;
    right: 24px;
    font-size: 12px;
    line-height: 12px;
  }

  .ant-divider-inner-text {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .equip-roadmap {
    text-align: center;

    img {
      width: 40px;
      height: 40px;
      margin: 1px 2px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  table.roadmap-detail {
    line-height: 20px;
    margin-top: 20px;
    font-size: 12px;

    em {
      font-weight: 700;
      font-style: normal;
    }

    img {
      display: inline-block;
      line-height: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 2px 5px;
    }
  }

  .equip-suit-hero {
    margin-top: 20px;
  }

  .equip-hero-avatar {
    width: 35px;
    height: 35px;
    padding: 1px;
    border-radius: 5px;
  }

  .pos-title {
    cursor: pointer;

    h6 {
      display: inline-block;
      font-weight: normal;
    }
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 7px 16px;
  }

  .hero-drawer-panel {
    margin-bottom: 5px;
    overflow: hidden;

    sub {
      float: right;
      margin-top: -32px;

      em {
        display: inline-block;
        width: 50px;
        text-align: right;
        font-weight: 500;
        margin-left: 8px;
        font-size: 14px;
        color: #5e625a;
        font-style: normal;
      }
    }

    .equip-row {
      margin: 0 -3px;
      position: relative;
      border-radius: 5px;
      transition-property: width, background;
      transition-duration: .25s, .05s;
      transition-timing-function: ease;

      &:hover {
        background: rgba(0, 0, 0, .05);
        border-radius: 5px;
        cursor: pointer;
      }

      .equip-item-wrap {
        display: inline-block;
        max-width: 175px;
        padding: 1px 3px;

        &.equip-item-wrap-lolm {
          max-width: inherit;
        }

        .equip-item {
          display: inline-block;
          margin-right: 2px;
          border: 1px solid rgba(0, 0, 0, 0);

          .equip-icon {
            width: 35px;
            height: 35px;
            border-radius: 3px;
          }

          .equip-icon-rune {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
      }


      .data-statistics {
        position: absolute;
        right: 3px;

        &.equip-intro {
          top: 0;
        }

        em {
          display: inline-block;
          width: 50px;
          text-align: right;
          font-weight: 500;
          margin-left: 8px;
          font-size: 13px;
          color: #9c8250;
        }

        em:first-child {
          color: #1dbaa9;
        }
      }
    }
  }
}
