@import './base.scss';

.alert-banner {
  color: #fff;
  padding: 2px 5px;
  line-height: 25px;
  background-color: #141414;
}

.wrap {
  font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;

  .platform-switch {
    margin-bottom: 7px;

    .cond-drawer {
      font-size: 12px;
      float: right;
    }
  }

  .ant-descriptions-header {
    margin-bottom: 0;
  }

  .ant-descriptions-header, .ant-descriptions-view {
    display: inline-block;
    line-height: inherit;
  }

  .ant-descriptions-header .ant-descriptions-title {
    display: inline-block;
    line-height: 1.5;
  }

  .ant-descriptions .ant-descriptions-view {
    width: 90%;
    line-height: inherit;
  }

  .ant-descriptions-item {
    padding: 0;
  }

  .ant-descriptions-title {
    font-size: 13px;
    margin-right: 5px;
    color: #3a3a3a;
  }

  .ant-form label {
    font-size: 12px;
  }

  .ant-checkbox + span {
    padding-left: 5px;
  }

  .ant-descriptions-row > td {
    padding: 0;
  }

  .ant-card .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 2px;
  }

  .ant-card .ant-card-meta-description {
    font-size: 12px;
    padding-left: 70px;
  }

  .ant-card-body .ant-tag.platform-tag {
    position: absolute;
    top: -1px;
    right: -1px;
    left: auto;
    margin: 0;
    border-radius: 0 4px 0 4px;
  }

  .result-card {
    .ant-tag {
      line-height: 15px;
      padding: 0 5px;
    }

    .ant-space {
      width: 100%;
      margin-bottom: 8px;
    }

    .ant-card-body {
      padding: 15px 15px 5px 15px;
      position: relative;

      .ant-tag-wrap {
        margin-top: -10px;
        padding-left: 42px;

        span {
          max-width: 150px;
          overflow: hidden;
        }
      }
    }

    .ant-card-meta-avatar {
      padding-right: 10px;
    }

    .ant-card-meta-title {
      color: #3a3a3a;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
    }

    .hero-icon {
      width: 35px;
      height: 35px;
      border-radius: 3px;
    }

    .hero-desc {
      padding: 5px 0;
      color: rgba(0, 0, 0, 0.85);

      .spell-icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }


}

.ant-layout-content {
  background: #fff;
}

.blank {
  height: 5px;
  clear: both;
}

.ant-divider {
  margin: 10px 0;
}

.mainText {
  font-size: 13px;
  line-height: 1.8;

  buffedStat, attention, passive, status {
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;

    h6 {
      display: inline-block;
      margin: 0 5px;
      color: #000000d9;
    }

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    span {
      color: #7d7d7d;
    }

    .spell-desc {
      font-size: 10px;
      line-height: 14px;
      margin: 0 0 10px 0;
      color: #7d7d7d;
      cursor: pointer;
      padding-left: 29px;
    }
  }
}


.ant-tooltip .ant-tooltip-inner {
  font-size: 12px;
  min-height: 25px;
  padding: 3px 8px;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 6px 0;
}

.ant-popover {
  max-width: 280px;

  .roadmap-item {
    line-height: 35px;

    .roadmap-item-title {
      font-weight: 700;
      margin: 0 5px 0 0;
    }

    .ant-tag {
      line-height: 15px;
      padding: 0 5px;
      font-size: 12px;
    }

    .roadmap-item-price {

    }
  }
}

.ant-drawer-body {
  .foldall-btn{
    position: absolute;
    left: 135px;
    top: 17px;
    font-size: 12px;
    line-height: 12px;
  }
  .ant-divider-inner-text {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .equip-roadmap {
    text-align: center;

    img {
      width: 50px;
      height: 50px;
      margin: 1px 2px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  table.roadmap-detail {
    line-height: 20px;
    margin-top: 20px;
    font-size: 12px;

    em {
      font-weight: 700;
      font-style: normal;
    }

    img {
      display: inline-block;
      line-height: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 2px 5px;
    }
  }

  .ant-collapse>.ant-collapse-item >.ant-collapse-header{
    padding: 7px 16px;
  }

  .hero-drawer-panel {
    margin-bottom: 5px;
    overflow: hidden;

    sub{
      color: #0000FF;
      float: right;
      margin-top: -37px;

      em{
        display: inline-block;
        width: 50px;
        text-align: right;
        font-weight: 500;
        margin-left: 8px;
        font-size: 14px;
        color: #5e625a;
        font-style: normal;
      }
    }

    .equip-row{
      margin-bottom: 2px;
      .equip-item{
        display: inline-block;
        margin-right: 2px;
        border: 1px solid #fff;
        .equip-icon{
          width: 35px;
          height: 35px;
          border-radius: 3px;
        }
      }

      .data-statistics{
        float: right;

        em{
          display: inline-block;
          width: 50px;
          text-align: right;
          font-weight: 500;
          margin-left: 8px;
          font-size: 13px;
          color: #9c8250;
        }
        em:first-child{
          color: #1dbaa9;
        }
      }
    }
  }
}
