/*@import './base.css';*/

.alert-banner {
    color: #fff;
    padding: 2px 5px;
    line-height: 25px;
    background-color: #141414;

}

.wrap {
    font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.ant-layout-content {
    background: #fff;
}

.blank {
    height: 5px;
    clear: both;
}

.ant-divider {
    margin: 10px 0;
}

.timeline-h4 {
    color: #3a3a3a !important;
    position: relative;
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: 700;
}

.ant-timeline-item em {
    font-style: inherit;
    color: #ff5722;
}

.timeline-h4 span {
    margin-left: 5px;
}

.mainText {
    color: rgba(0, 0, 0, .85);
    font-size: 13px;
    line-height: 1.8;
}

.mainText buffedStat, .mainText attention, .mainText passive, .mainText status {
    font-weight: bold;
}

.mainText ul {
    padding: 0;
    margin: 0;
}

.mainText li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainText li div {
    font-size: 10px;
    line-height: 14px;
    margin: 5px 0 15px 0;
}

.mainText li h6 {
    display: inline-block;
}

.timeline-h4 .ant-image-img {
    width: 35px;
    height: 35px;
    border-radius: 3px;
}

.mainText img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.mainText span {
    color: #7d7d7d;
}

.mainText div {
    color: #7d7d7d;
    cursor: pointer;
    padding-left: 29px;
}

.mainText .detail {
    display: none;
    margin: 5px 10px;
}

/**/
.equip-card .ant-space {
    width: 100%;
}

/*.equip-card .ant-space img {*/
/*    width: 30px;*/
/*    border-radius: 50%;*/
/*}*/